body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #55acc6 0%,#04cf96 100%);;
}

header {
    color: white;
    display: grid;
    justify-content: center;
}

input {
    height: 2em;
    font-size: 2em;
    background-color: rgb(250, 250, 250);
    padding: 0;
}
.calcUI {
    display: grid;
    justify-content: center;
    align-items: center;
}

.calc-body {
    display: grid;
    justify-content: center;
    align-items: center; 
    min-height: 10vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}

button {
    padding: 30px;
    font-size: 2em;
}

.button:hover {
    background-color: #555;
}

.action {
    background-color: orange;
}

.action:hover {
    background-color: #df8600;
}

.function {
    background-color: rgb(173, 173, 173);
}

.function:hover {
    background-color: #828282;
}

#zero {
    grid-column: span 2;
}

@media (max-width: 768px) {
    button {
        font-size: 1.25em;
    }
    input {
        height: 2em;
        font-size: 1.25em;
    }

}